.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.button {
    width: 45px;
    height: 40px;
    margin: 5px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;

}